* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
    align-items: center;
}

.banner {
    position: relative;
    width: 460px;
    height: 450px;
    transform-style: preserve-3d;
}
.banner .Phuc {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: translateZ(-10px);
    top: 20%;
    left: 6%;
}
.banner .Phuc img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner .slide {
    position: absolute;
    width: 120px;
    height: 200px;
    top: 30%;
    left: 40.5%;
    transform-style: preserve-3d;
    transform: perspective(1520px);
    animation: autoRun 30s linear infinite;
    border: none;
}
@keyframes autoRun {
    from {
        transform: perspective(1500px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1500px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slide .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(
            calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(500px);
    border-radius: 12px;
    border: 3px solid rgba(128, 128, 128, 0.516);
}
.banner .slide .item img {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
h1 {
    color: #d60000;
    font-size: clamp(24px, 5vw, 48px);
    text-shadow:
        2px 2px 0 #ffffff,
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        0px 4px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 100px;
    font-family: "Inter";
}
@media only screen and (max-width: 1124px) {
    .banner .slide .item {
        transform: rotateY(
                calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
            )
            translateZ(450px);
    }
    @keyframes autoRun {
        from {
            transform: perspective(1200px) rotateX(-16deg) rotateY(0deg);
        }
        to {
            transform: perspective(1200px) rotateX(-16deg) rotateY(360deg);
        }
    }
}
@media only screen and (max-width: 1024px) {
    body {
        gap: 200px;
    }
    .banner {
        width: 320px;
        height: 320px;
    }
    .banner .slide {
        width: 90px;
        height: 150px;
        left: 35%;
    }
    .banner .slide .item {
        transform: rotateY(
                calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
            )
            translateZ(300px);
    }
    .banner .slide .item img {
        background-position: center top;
    }
    @keyframes autoRun {
        from {
            transform: perspective(900px) rotateX(-16deg) rotateY(0deg);
        }
        to {
            transform: perspective(900px) rotateX(-16deg) rotateY(360deg);
        }
    }
}
@media only screen and (max-width: 660px) {
    body {
        padding: 100px 0 0 0;
        gap: 150px;
        background-position: calc(50% + 260px) center;
    }
    .banner {
        width: 240px;
        height: 240px;
    }
    .banner .slide {
        width: 60px;
        height: 120px;
        left: 38%;
    }
    .banner .slide .item {
        transform: rotateY(
                calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
            )
            translateZ(185px);
    }
    h1 {
        width: 75%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h1 .arrow {
        display: none;
    }
    @keyframes autoRun {
        from {
            transform: perspective(600px) rotateX(-20deg) rotateY(0deg);
        }
        to {
            transform: perspective(600px) rotateX(-20deg) rotateY(360deg);
        }
    }
}
@media only screen and (max-width: 450px) {
    .banner .slide .item {
        transform: rotateY(
                calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
            )
            translateZ(160px);
    }
    @keyframes autoRun {
        from {
            transform: perspective(500px) rotateX(-20deg) rotateY(0deg);
        }
        to {
            transform: perspective(500px) rotateX(-20deg) rotateY(360deg);
        }
    }
}
