* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* padding-top: 50px; */
    background-image: url("assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding-top: 50px;
}

.banner {
    position: relative;
    width: 620px;
    height: 520px;
}
.banner .trongDong {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner .trongDong img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner .slide {
    position: absolute;
    width: 120px;
    height: 150px;
    top: 25%;
    left: 40.5%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;
    border: none;
    z-index: 10;
}
@keyframes autoRun {
    from {
        transform: perspective(1000vh) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slide .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(
            calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(250px);
    -webkit-backface-visibility: hidden;
}
.banner .slide .item img {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1 {
    color: #d60000;
    font-size: clamp(24px, 5vw, 48px);
    text-shadow:
        2px 2px 0 #ffffff,
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        0px 4px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 150px;
    font-family: "Inter";
}
@media only screen and (max-width: 660px) {
    body {
        padding: 100px 0 0 0;
        gap: 50px;
        background-position: calc(50% + 260px) center;
    }
    .banner {
        width: 377px;
        height: 300px;
    }
    .banner .slide {
        width: 80px;
        height: 100px;
    }
    .banner .slide .item {
        transform: rotateY(
                calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
            )
            translateZ(150px);
    }
    h1 {
        width: 70%;
        text-align: center;
        line-height: 40px;
    }
    h1 span {
        display: none;
    }
}
